.header {
  position: relative;

  &__container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 112px;
  }
}
.autorization {
  gap: 9px;
  @extend %flex-center;

  &__link {
    display: block;
    padding: 10px, 10px;
  }
  &__link--active {
    border: 2px solid $colorTextPrimary;
    border-radius: 25px;
  }
}
.logo {
  text-align: center;
  font-size: 30px;

  line-height: 1.1;
  letter-spacing: normal;
}
