.hero {
  min-height: 100dvh;
  background-image: url(../img/hero/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @extend %flex-center;
  &hero__container {
    flex-direction: column;
    gap: 15px;
    @extend %flex-center;
  }
  &__title {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  &__text {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    font-family: $fontSecondary;
  }
}
