h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
  min-width: 320px;
  max-width: 970px;
}

.hero {
  min-height: 100dvh;
  background-image: url(../img/hero/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}